[push]
	default = simple

[color]
	ui          = true
	branch      = auto
	diff        = auto
	interactive = auto
	status      = auto

[color "status"]
	header		= normal
	added		= green
	updated		= cyan
	changed		= yellow
	untracked	= red
	nobranch	= red
	branch		= normal bold

[branch]
	autosetuprebase = always

[include]
	path = ~/.gitconfig.local

