! ~/.Xresources

! ---- XTerm options ----

XTerm*termName:		xterm-256color
XTerm*utf8:		2
XTerm*locale:		true
XTerm*metaSendsEscape:	true
XTerm*eightBitInput:	true
XTerm*saveLines:	8192
XTerm*borderWidth:	0
XTerm*VT100.geometry:	140x40
XTerm*dynamicColors:	true
XTerm*bellIsUrgent:	true
XTerm*fullscreen:	never

XTerm*renderFont:	true
XTerm*faceName:		Inconsolata
XTerm*faceSize:		12
XTerm*font:		-*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
XTerm*preeditType:	Root
XTerm*xftAntialias:	true

! ---- XTerm colors ----

XTerm*background:	#000000
XTerm*foreground:	#d9e6f2

! black
XTerm*color0:		#2b2b2b

! bright_black
XTerm*color8:		#4b4b4b

! red
XTerm*color1:		#7a2142

! bright_red
XTerm*color9:		#cd3a67

! green
XTerm*color2:		#29862d

! bright_green
XTerm*color10:		#4ed947

! yellow
XTerm*color3:		#7a722d

! bright_yellow
XTerm*color11:		#cdb947

! blue
XTerm*color4:		#143593

! bright_blue
XTerm*color12:		#2e5ae6

! magenta
XTerm*color5:		#662193

! bright_magenta
XTerm*color13:		#ad3ae6

! cyan
XTerm*color6:		#14867f

! bright_cyan
XTerm*color14:		#2ed9c6

! white
XTerm*color7:		#a1a1a1

! bright_white
XTerm*color15:		#d9d9d9

